@page "/addition/fastmath"

<div class="problem">
    <div class="top">@Top</div>
    <div class="bottom @Sign">@Bottom</div>
    <input type="number" class="answer" @oninput="KeyPressed" value="@Answer" />
</div>
@code {
    private int Top { get; set; }
    private int Bottom { get; set; }
    private string Sign { get; set; } = "Add";
    private string IsCorrect { get; set; }
    private int? Answer;
    private Random Random { get; } = new Random();
    protected override void OnInitialized()
    {
        NextQuestion();
    }

    private void NextQuestion()
    {
        Answer = null;
        Top = Random.Next(0, 11);
        Bottom = Random.Next(0, 11);
        if (Bottom > Top)
        {
            var temp = Bottom;
            Bottom = Top;
            Top = temp;
        }
    }

    private void KeyPressed(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int answer))
        {
            Answer = answer;
        }

        if (Validate())
        {
            NextQuestion();
        }
    }
    private bool Validate()
    {
        switch (Sign)
        {
            case "Add":
                {
                    return Top + Bottom == Answer;
                }
            case "Subtract":
                {
                    return Top - Bottom == Answer;

                }
            case "Multiply":
                {
                    return Top * Bottom == Answer;
                }
            case "Divide":
                {
                    return Top / Bottom == Answer;
                }
            default:
                {
                    throw new ApplicationException("Invalid Sign");
                }

        }
    }
}