@page "/"

<main>
    <h1>Welcome to Gorrilla Schooling assistance</h1>
    <p>
        Have a kid that has ran into a wall and is struggling. Let's see if we can help.
        Here you will find links to resources and mini games and projects to hopefully help.
        As of right now, we are pretty new and the site isn't super useful, so to start with here is a list.
        Soon, hopefully are more organized.
    </p>
    <ul>
        <li>
            <ul>
                Math:
                <li>
                    <a href="https://www.dadsworksheets.com/">
                        https://www.dadsworksheets.com/
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</main>